
Flask==2.2.2
joblib==1.1.0
streamlit==1.12.2
pandas==1.4.4
numpy==1.22.4


imbalanced_learn==0.9.1
imblearn==0.0
joblib==1.1.0
lightgbm==3.3.2
matplotlib==3.5.2
scikit_learn==1.1.2
seaborn==0.11.2


